<!-- login page -->

<div class='container'>
  <div class='row'>
    {{! Login Form }}
    <dir class='col-sm-12 col-md-5 card'>
      <h1 class='card-title'>Login</h1>
      <form id='login' class='card-body'>
        <div class='form-group'>
          <label class='fs-3' for='login-email'>Email</label>
          <input
            type='email'
            class='form-control'
            id='login-email'
            placeholder='john@doe.com'
            autocomplete='username'
          />
        </div>

        <div class='form-group'>
          <label class='fs-3' for='login-password'>Password</label>
          <input
            type='password'
            class='form-control'
            id='login-password'
            autocomplete='current-password'
          />
        </div>

        <button
          type='submit'
          id='button-login'
          class='btn btn-primary mt-2'
        >Login</button>

      </form>
    </dir>
    {{! Filler Column }}
    <div class='col-md-2 col-sm-12'></div>
    {{! Signup Form }}
    <dir class='col-sm-12 col-md-5 card'>
      <h1 class='card-title'>Create Account</h1>
      <form id='signup' class='card-body'>
        <div class='form-group'>
          <label class='fs-3' for='signup-name'>Full Name</label>
          <input
            type='name'
            class='form-control'
            id='signup-name'
            placeholder='John Doe'
          />
        </div>
        <div class='form-group'>
          <label class='fs-3' for='signup-email'>Email</label>
          <input
            type='email'
            class='form-control'
            id='signup-email'
            placeholder='john@doe.com'
          />
        </div>
        <div class='form-group'>
          <label class='fs-3' for='signup-password'>Password</label>
          <input type='password' class='form-control' id='signup-password' />
        </div>

        <button
          type='submit'
          id='button-signup'
          class='btn mt-2'
        >Signup</button>

      </form>
    </dir>
  </div>
</div>
<script src='/js/login.js'></script>