<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/dairy-products.jpg" class="d-block w-100" alt="dairy products" height="500px">
    </div>
    <div class="carousel-item">
      <img src="/images/produce.jpg" class="d-block w-100" alt="produce" height="500px">
    </div>
    <div class="carousel-item">
      <img src="/images/snacks.jpg" class="d-block w-100" alt="snacks">
    </div>
    <div class="carousel-item">
      <img src="/images/frozenfoods.png" class="d-block w-100" alt="frozen foods">
    </div>
    <div class="carousel-item">
      <img src="/images/meats.jpg" class="d-block w-100" alt="meats">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

