<div class='container'>
  <div class='text-end my-2'>
    <a href='/stock' class='btn btn-primary'>Start New Order</a>
  </div>
  {{#if orders}}
    <div class='row'>
      {{#each orders as |order|}}
        <div class='container col-12 mb-0 card bg-dark'>
          <div class='row mb-2 card-title'>
            <h2 class='col-sm-12 col-md-6'>Order #{{id}}</h2>
            <div class="col-sm-12 col-md-6 text-end">
              <p class="m-1">
                x{{total_items}} items
              </p>
              <p class="m-1">
                Created: {{format_date createdAt}}
              </p>
            </div>
          </div>
          <div class="card-body">
            <div class="container">
              <div class="row mt-0">
                {{#each orderItems as |item|}}
                  {{> card item.inventory show_items='false' stock=item.stock}}
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{else}}
    <div class='text-center'>
      <h2 class='alert alert-danger'>No Open Orders</h2>
    </div>
  {{/if}}

</div>