<div class='container'>
  {{#if orders}}
    <div class='row'>
      {{#each orders as |order|}}
        <div class='col-12 bg-info mb-2'>
          <h2>{{id}}</h2>
          {{#each orderItems as |item|}}
            <span>{{id}}</span>
            <span>x{{stock}}</span>
          {{/each}}
        </div>
      {{/each}}
    </div>
  {{else}}
    <div class='container'>
      <h2>No Open orders</h2>
    </div>
  {{/if}}

  <div class='text-center mt-2'>
    <a href='/order' class='btn btn-primary'>Create an Order</a>
  </div>
</div>