
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/dairy-products.jpg" class="d-block w-100" alt="dairy products" height="500px">
    </div>
    <div class="carousel-item">
      <img src="/images/produce.jpg" class="d-block w-100" alt="produce" height="500px">
    </div>
    <div class="carousel-item">
      <img src="/images/snacks.jpg" class="d-block w-100" alt="snacks" height="500px">
    </div>
    <div class="carousel-item">
      <img src="/images/frozenfoods.png" class="d-block w-100" alt="frozen foods" height="500px">
    </div>
    <div class="carousel-item">
      <img src="/images/meats.jpg" class="d-block w-100" alt="meats" height="500px">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{{!-- Alerts --}}
<div class="container-fluid alert alert-danger p-1" id="alert-submit">
   <button type="button" class="btn close-btn">x</button>
   <span><strong>Warning!</strong> Please select an item!</span>
</div>
<div class="container-fluid alert alert-warning p-1" id="alert-select">
   <button type="button" class="btn close-btn">x</button>
   <span><strong>Warning!</strong> Please choose a quantity!</span>
</div>
{{!-- Order Form --}}
<main>
<form id="order">
  <div class="container">
    <div class="row mt-5">
    {{#each stock as |item|}}
      {{> card}}
    {{/each}}
    </div>
  </div>
  <div class="text-end">
    {{#if loggedIn}}
      <button class="btn btn-primary m-3 bottom-right" type="submit" id="submit-order">Submit Order</button>
    {{else}}
      <h3 class="text-center">Please login to create an order!</h3>
    {{/if}}
  </div>
</form>
</main>
<script src='/js/order.js'></script>




{{!--   
<div id="cart">
    <h3 class="d-flex justify-content-center">Item</h3>
    <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-danger">Remove</button>
    </div>
    <h3 class="d-flex justify-content-center">Total</h3>
    <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-info">Purchase</button>
    </div>
</div> --}}
