:root {
  --primary: #342628;
  --secondary: #788402;
  --tertiary: #feaa00;
  --quaternary: #f7f4ef;
}

.nav-link[aria-current='page'] {
  text-decoration: underline;
}

form [type='checkbox'] {
  display: none;
}

.btn.active {
  background-color: rgb(0, 55, 255) !important;
}

.about-carousel {
  max-width: 60%;
  min-width: 300px; /* Adjust this value to your desired minimum width */
  margin: 0 auto;
}

.bio-card {
  max-width: 800px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the card horizontally */
}

#map {
  height: 400px; /* Adjust the height as needed */
  width: 50%;
  margin: auto;
}
