:root {
  --primary: #334952;
  --secondary: #6586af;
  --tertiary: #dae4e2;
  --quaternary: #f6f1f4;
}

.nav-link[aria-current='page'] {
  text-decoration: underline;
  color: var(--secondary);
}

.nav-link {
  color: var(--quaternary);
}

form [type='checkbox'] {
  display: none;
}

.btn.active {
  background-color: rgb(0, 55, 255) !important;
}

.about-carousel {
  max-width: 60%;
  min-width: 300px; /* Adjust this value to your desired minimum width */
  margin: 0 auto;
}

.bio-card {
  max-width: 800px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the card horizontally */
}

#map {
  height: 400px; /* Adjust the height as needed */
  width: 50%;
  margin: auto;
}

header {
  background-color: var(--primary);
}

body {
  background-color: var(--tertiary);
}

footer {
  display: block;
  background: var(--primary);
  height: 3rem;
  margin-top: 1rem;
  padding: 1rem;
}

main {
  height: 100%;
}

.navbar {
  color: var(--quaternary);
}

.navbar-brand {
  color: var(--quaternary);
}

.card {
  background: var(--secondary);
  color: var(--quaternary);
  border: var(--primary);
}
